/*
--------------------------------------------------
Body, Html and other base styles
--------------------------------------------------
*/
html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
  color: $base-font-color;
  line-height: $base-line-height;
  background-color: #fff;

  overflow-x: hidden;
  @media (min-width: $screen-md-min) {
    overflow-x: visible;
  }
}


.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0b0b0b;
  opacity: 0.8;
  z-index: 1000;
}

.disable-scroll {
  margin-right: 17px;
  overflow: hidden;
}