/* 
* Use this file if you want to put custom styles and do not want to use Sass and Gulp 
* Readmore - http://docs.imagecms.net/rabota-s-shablonom-multishop/rabota-s-css-i-javasctipt-dlia-razrabotchikov
*/
.page__mainnav-hor {
	background: #000000;
}

.mywidth50 {
	width: 49%;
	display: inline-block;
}