
@font-face {
  font-family: 'Constantia';
  src: url('Constantia.eot?#iefix') format('embedded-opentype'),  url('Constantia.woff') format('woff'), url('Constantia.ttf')  format('truetype'), url('Constantia.svg#Constantia') format('svg');
  font-weight: normal;
  font-style: normal;
}
