<div class="content">
  <div class="content__container">

      <!-- Post description -->
      <div class="content__row">
      	<div class="col-md-8 col-sm-8 col-lg-8 loyal_content" style="margin: 0 auto;float: none;}">
        	<div class="typo">{$page.full_text}</div>
    	</div>
      </div>

    </div><!-- /.content__container -->
  </div><!-- /.content -->