<div class="content">
	<div class="content__container">

		<div class="content__header">
			<h1 class="content__title">
				{tlang('Вы  успешно восстановили пароль, новый пароль отправлен Вам в СМС')}
			</h1>
		</div>
		<!--
		{if $auth_message}
		<div class="content__row">
			<div class="typo">{$auth_message}</div>
		</div>
		{/if}-->

	</div><!-- /.content__container -->
</div><!-- /.content -->