.select2-selection.select2-selection--single {
  border-radius: 0;
  border-color: #eaeaea;

  font-size: 12px;
  height: 30px;
}

.select2-dropdown.select2-dropdown--below {
  border-radius: 0;
  border-color: #eaeaea;

  font-size: 12px;
  overflow-x: hidden;
}
.select2-results__options {
  overflow-x: hidden;
}