<section class="mini-layout">
    <div class="frame_title clearfix">
        <div class="pull-left">
            <span class="help-inline"></span>
            <span class="title">{lang("Widget editing","admin")}<b> {$widget.name}</b></span>
        </div>
        <div class="pull-right">
            <div class="d-i_b">
                <a href="{$BASE_URL}admin/widgets_manager/index/" class="t-d_n m-r_15 pjax"><span class="f-s_14">←</span> <span class="t-d_u">{lang("Back","admin")}</span></a>
                <button type="button" class="btn btn-small btn-primary formSubmit" data-form="#wid_ed_form" data-submit><i class="icon-ok icon-white"></i>{lang("Save","admin")}</button>
                <button type="button" class="btn btn-small formSubmit" data-form="#wid_ed_form" data-action="tomain"><i class="icon-check"></i>{lang("Save and go back","admin")}</button>
                {echo create_language_select($languages, $locale, site_url("admin/widgets_manager/edit_module_widget/" .$widget_id . '/info'))}
                <div class="dropdown d-i_b">
                    <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">{$city_name}<input type="hidden" name="city_id" value="{$city_id}"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right">
                        {foreach $cities as $city}
                            <li><a href="/admin/widgets_manager/edit_module_widget/{$widget.id}/info/{echo $locale}?city_id={echo $city['id']}" class="">{$city['city_name']}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>                            
    </div>
    <form method="post" action="{$BASE_URL}admin/widgets_manager/update_widget/{echo $widget.id}/info/{echo $locale}" class="form-horizontal m-t_10" id="wid_ed_form">
        <table class="table  table-bordered table-hover table-condensed content_big_td">
            <thead>
                <tr>
                    <th colspan="6">
                        {lang("Properties","admin")}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">
                        <div class="inside_padd">
                            <div class="control-group m-t_10">
                                <label class="control-label" for="inputtitle">{lang("Title","admin")}: <span class="must">*</span></label>
                                <div class="controls">
                                    <input type="text" name="title" id="inputtitle" value="{$widget.title}" class="required"/>
                                </div>
                            </div>
                            <div class="control-group m-t_10">
                                <label class="control-label" for="inputName">{lang("Key","admin")}: <span class="must">*</span></label>
                                <div class="controls">
                                    <input type="text" name="name" id="inputName" value="{$widget.name}" class="required"/>
                                    <p class="help-block">{lang("Only Latin characters","admin")}</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputDesc">{lang("Description","admin")}:</label>
                                <div class="controls">
                                    <input type="text" name="desc" id="inputDesc" value="{$widget.description}">
                                    <p class="help-block">{lang("Short widget description","admin")}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="city_id" value="{$city_id}">
        {include_tpl('modules_additions')}
    </form>
</section>