{ $all_cities = $all_cities}
{foreach $all_cities as $city}
    {$cities[$city['id']] = $city}
{/foreach}




                {if count($cities) >0}
                    {view('includes/forms/select-base_city.tpl', [
                    'label' => tlang('Місто'),
                    'name' => 'city',
                    'data'=>$cities,
                    'required' => true
                    ])}

                    {/*}{foreach $cities as $one_city}

                        {if $_COOKIE["front_selected_city_id"]  != $one_city['id']  && $_COOKIE["front_selected_city_id"]}

                            <li class="overlay__item">

                                <label class="overlay__link"  onclick="city_front.set_temp_main({echo $one_city['id']})"  for="lang-{echo $one_city['id']}">
                                    {echo $one_city['city_name']}
                                </label>
                                <input type="hidden" id="lang-{echo $one_city['id']}" value="{echo $one_city['id']}">
                            </li>
                        {elseif !$_COOKIE["front_selected_city_id"] }

                            <li class="overlay__item">

                                <label class="overlay__link"  onclick="city_front.set_temp_main({echo $one_city['id']})"  for="lang-{echo $one_city['id']}">
                                    {echo $one_city['city_name']}
                                </label>
                                <input type="hidden" id="lang-{echo $one_city['id']}" value="{echo $one_city['id']}">
                            </li>
                        {/if}
                    {/foreach}{ */}

                {/if}
